<mat-toolbar color="primary">
    <span>ToDo App</span>
    <div class="navigation">
        <nav>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" mat-button>Home</a>
            <a [routerLink]="['/manage']" routerLinkActive="router-link-active" mat-button matBadgeColor="accent">Add /
                Edit </a>
            <a [routerLink]="['/list']" routerLinkActive="router-link-active" mat-button [matBadge]="getTodoLength()"
                matBadgeColor="accent" matBadgeOverlap="true">List</a>
        </nav>
    </div>
</mat-toolbar>