.title-block{
    width: 100%;
    display: block;
}

.list{
    width: 100%;
    display: block;
}

.details{
    ul{
        list-style: none;
        padding:0px;
        margin:0px;
        
        li{
            margin-top: 10px;
            strong{
                padding-right: 10px;
            }
        }
    }
}